<h1>Test#index</h1>
<p>Find me in app/views/test/index.html.erb</p>


<form action="/test/post/" method="post">
  <input type="text" name="test"></input>
  <input type="submit" value="post"></input>
</form>
