<h1>Title#show</h1>
<p>Find me in app/views/test/show.html.erb</p>

<ol>
  <% @titles.each do | title | %>
  <li>
    | <%= title.name %>
    | <%= title.comming %>
    | <% if title.type_id.length > 1 then
          type_id = title.type_id.split(",")
          @types = Type.where(id: type_id)
      %>
        <% @types.each do | type | %>
          <%= type.name %>
        <% end %>
      <% else %>
        <%= title.type.name %>
      <% end %>
    |</li>
  <% end %>
</ol>
