<h1>New Movie Genre Admin</h1>
<p>Warnings Admin ONLY</p>
<ol>
  <% @types.each do | type | %>
  <li><%= type.name %></li>
  <% end %>
</ol>

<h4>movie genre input</h4>
<form action="/movie_genre_admin/show/" moethod="post">
 <input type="text" name="type"></input>
 <input type="submit" value="輸入"></input>
</form>




<%= select("type", "id", Type.all.map{|type| [type.name, type.id]}) %>
